:root {
	/* Design Tokens */
	--t-white: #ffffff;
	--t-fog: #f3f6f9;
	--t-black: #1b1b1b;
	--t-squid-ink: #282d30;
	--t-grey: #adadad;
	--t-neon: #00e9c2;

	--t-poppins: "Poppins", "Helvetica", "Calibri", sans-serif;
	--t-mono: "Space Mono", "Courier New", "Courier", monospace;

	/* Utilities */
	--c-text: var(--t-white);
	--c-text-invert: var(--t-black);
	--c-text-faded: var(--t-grey);

	--c-border: var(--t-white);
	--c-border-faded: color-mix(in srgb, var(--c-border), transparent 80%);
	--c-highlight: var(--t-neon);

	--c-bg-page: var(--t-black);
	--c-bg-block: var(--t-squid-ink);

	--f-sans: var(--t-poppins);
	--f-mono: var(--t-mono);
}

html,
body {
	background-color: var(--c-bg-page);
}

*:not(input, textarea):focus-visible {
	outline: 2px solid var(--c-highlight);
	outline-offset: 0.25rem;
}

input:focus-visible,
textarea:focus-visible {
	outline: none;
	border: 1px solid var(--c-highlight);
}

/* Defaults */

a {
	color: var(--c-text);
	text-underline-offset: 0.35em;
}

button {
	cursor: pointer;
}

input {
	height: 3rem;
	padding-inline: 1rem;
	background-color: transparent;
	border: 1px solid var(--c-border);
	color: var(--c-text);
}

input::placeholder {
	color: var(--c-text-faded);
}

/* Utility Classes */

.u-eyebrow {
	font-family: var(--f-mono);
	font-size: 0.75rem;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.66;
	color: var(--t-grey);
}

.u-title {
	font-size: clamp(1.25rem, 0.8152rem + 2.1739vi, 2.5rem);
	font-weight: 400;
	line-height: 1.3;
}

.u-cta {
	--border-color: var(--c-border);
	--bg-color: transparent;
	--text-color: var(--c-text);
	--active-bg-color: var(--c-bg-page);
	--lighten: 10%;

	display: inline-block;
	width: max-content;
	height: fit-content;
	padding: 0.5rem 1.5rem;
	border: 1px solid var(--border-color);
	background-color: var(--bg-color);
	color: var(--text-color);
	text-decoration: none;
	font-size: 0.9375rem;
	line-height: 2.4;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;

	&:hover,
	&:focus-visible {
		background-color: color-mix(
			in srgb,
			var(--active-bg-color),
			white var(--lighten)
		);
	}
}

.u-cta-highlight {
	--border-color: var(--c-highlight);
	--bg-color: var(--c-highlight);
	--text-color: var(--c-text-invert);
	--active-bg-color: var(--c-highlight);
	--lighten: 50%;
}

.u-cta-inverted {
	--border-color: var(--c-text-invert);
	--bg-color: var(--c-text-invert);
	--active-bg-color: var(--c-text-invert);

	&:focus-visible {
		outline-color: var(--c-text-invert);
	}
}
